.tag {
	color: tomato;
}
.class {
	color: #a1c4ff;
}
.id {
	color: lightgreen;
}
.inside {
	color: #a0ffff;
}
.directChild {
	color: #f3b3f3;
}
.child {
	color: red;
}
.sibling {
	color: orange;
}
.specific {
	color: lime;
}